* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
}

nav{
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 2;
}

.nav-logo {
	margin-left: 10% ;
}

.right-nav {
	margin-right: 5%;
}

nav li, nav div{
	display: inline-block;
	padding: 0.8rem;
}

nav .right-nav {
	float: right;
}

.tuitt-button {
	background-color: #c2195b;
	color: white;
	padding: 0.5em 1em;
	border-radius: 25px;
	border: 0;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	background-attachment: scroll;
	z-index: 2;
}

.front-bg {
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
}

.container {
	min-height: 50vh;
	display: inline-block;
}

.apply-button {
	background-color: #c2195b;
	color: white;
	padding: 0.5em 1em;
	border-radius: 25px;
	border: 0;
	display: inline;
	float: right;
	font-size: 1rem;
	margin-right: 4rem;
}

.title{
	font-family: 'Zilla Slab';
	display: inline;
	float: right;
	font-size: 2rem;
	margin-right: 1.5rem;
	margin-left: 70%;
}

.subtitle {
	display: inline;
	float: right;
	font-size: 1rem;
	margin-right: 3rem;
	margin-left: 70%;
	margin-top: 10px;
}

.intro {
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}

.title-2 {
	font-family: 'Zilla Slab';
	margin-bottom: 20px;
}

.pre-footer	{
	background-color: #f7fbfb;
	margin-right: 10%;
	margin-left: 10%;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px; 
	padding-bottom: 100px;
	padding-top: 50px;
}

.book-button {
	background-color: #336589;
	padding: 1em 2em;
	border-radius: 25px;
	color: white;
	margin-top: 2em;
}

footer {
	text-align: center;
}